@model TTGarmentAdmin.Models.Response

@using TTGarmentAdmin.Properties
@{

    Layout = null;
    int i = 0;
}
<style>
    .marginlink {
        margin: 10px;
    }
</style>
@*/******New code ******/*@

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        @*<div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>*@
        <ul class="nav navbar-nav">
            <li class="nav-item" data-toggle="tooltip" data-placement="right">
                <a class="nav-link" href="@Url.Action("Index", "Dashboard")" style="padding:2px !important">
                    <img src="~/images/logo.png" width="60" class="img-responsive">
                </a>
            </li>
            @foreach (var menu in Model.MediaTypeList)
            {

                if (i < 6)
                {
                    <li class="nav-item marginlink" data-toggle="tooltip" data-placement="right">
                        <a class="nav-link" href="@Url.Action("GetPageDetail", "Dashboard", new { Page = menu.MediaType, PageId = menu.Id })">
                            <span class="nav-link-text">@menu.MediaType</span>
                        </a>
                    </li>
                }
                i = i + 1;
            }

            @{ i = 0; }

            <li class="nav-item marginlink dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">



                    @foreach (var menu in Model.MediaTypeList)
            {

                if (i >= 6)
                {
                            <p>
                                <a class="nav-link" href="@Url.Action("GetPageDetail", "Dashboard", new { Page = menu.MediaType, PageId = menu.Id })">
                                    <span class="nav-link-text">@menu.MediaType</span>
                                </a>
                            </p>
                        }
                        i = i + 1;
                    }
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item marginlink">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout
                </a>
            </li>
        </ul>
    </div>
</nav>

@*/******new code ******/*@
